/*stylesheet*/

body {
	font-size: 20px;

}
h1 {
	font-size: 50px;
	color: ghostwhite;
	margin-bottom: 3rem;

}
h1.alternate {
	color: paleturquoise;
}
p {
	font-size: 30px;
	font-family: sans-serif;
	color: floralwhite;
	margin-bottom: 2rem;
}
p.alternate {
	color: lightpink;
}

#site-title {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 60px;

}
a {
	text-decoration: underline;
	font-weight: bold;
}
a.hover {
	text-decoration: none;
}